/* The container */

.container {
    display: block;
    position: relative;
    padding-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default radio button */

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom radio button */

.checkmark {
    position: absolute;
    cursor: pointer;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid black;
}


/* On mouse-over, add a grey background color */

.container:hover input~.checkmark {
    background-color: #ccc;
}


/* When the radio button is checked, add a blue background */

.container input:checked~.checkmark {
    border: 3px solid blue;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}


/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the indicator (dot/circle) when checked */

.container input:checked~.checkmark:after {
    display: block;
}


/* Style the indicator (dot/circle) */

.container .checkmark:after {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    opacity: 0;
}

.checkmark_out {
    bottom: 0px;
    left: 0px;
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid black;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.container_out {
    display: block;
    position: relative;
    padding-left: 22px;
    padding-bottom: 0px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tab{
    position: relative;
    width: 100px;
}